.mlink
{
color:red;
text-decoration:none;
		
}
.mlink:hover
{
color:white;
text-decoration:none;
		
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 80%;
	height:530px;
	padding:0;
	margin:0 auto;
}



 @media screen and (max-width:1200px) {
	.rslides {
		height:auto;
	}
 }

.rslides li {
  -webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
 }

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
 }

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
 }

#left
{	
	height:39%;
	min-height:200px;
	max-height:39%;
}
#right
{	
	height:39%;
	min-height:200px;
	max-height:39%;
}
#center{
	height:50%;
	min-height:350px;
	max-height:50%;
}
#ccontent
{
	height:80%;
}

#wheading
{
	font-size:40px;
	color:black;
	font-family:Times New Roman;
	text-shadow:2px 2px #888888;
}
#lefth
{

	border-top-left-radius:10px;border-bottom-left-radius:10px;font-family:Times New Roman;margin-left:30%;background:rgba(0,0,0,0.5);width:70%;margin-top:2%;padding:5px;color:white;text-align:center;font-size:30px;
}
#righth
	{
	border-top-right-radius:10px;border-bottom-right-radius:10px;font-family:Times New Roman;background:rgba(0,0,0,0.5);width:70%;margin-top:2%;padding:5px;color:white;text-align:center;font-size:30px;

	}
@media screen and (max-width:1000px) {
	#lefth

	{
		font-size:10px;
	}
	#righth	
	{
		font-size:10px;
	}
	#left
	{	
		height:auto;
		min-height:200px;
	}
	#ccontent
	{
		height:90%;
	
	}
	#right
	{	
		height:auto;
		min-height:200px;
	}	
	#center{
		height:50%;
		min-height:350px;
	}
	#wheading
	{
		font-size:10px;
	
	}

}
.footer{
width:100%;
height:auto;
background:Url('../images/footer.png')	;
clear:both;
padding:20px;
font-size:20px;
color:white;
font-family:Times New Roman;

}